
*.pmv
.vs/
*.log
*.png
SLR_ReplayDB.VC.db
SLR_ReplayDB.VC.VC.opendb
SLR_ReplayDB/Release/
SLR_ReplayParserWebV2/Release/
SLR_Tome/Release/
SLR_Event_Cecker/Release/
SLR_Lotto/Release/
SLR_LivePVP/Release/
Release/SLR_ReplayDB.iobj
Release/SLR_ReplayDB.ipdb
Release/SLR_ReplayDB.pdb
Release/SLR_ReplayParserWebV2.iobj
Release/SLR_ReplayParserWebV2.ipdb
Release/SLR_ReplayParserWebV2.pdb
Release/SLR_Tome.iobj
Release/SLR_Tome.ipdb
Release/SLR_Tome.pdb
Release/SLR_Event_Cecker.iobj
Release/SLR_Event_Cecker.ipdb
Release/SLR_Event_Cecker.pdb
Release/SLR_Lotto.iobj
Release/SLR_Lotto.ipdb
Release/SLR_Lotto.pdb
Release/SLR_LivePVP.iobj
Release/SLR_LivePVP.ipdb
Release/SLR_LivePVP.pdb

*.mov
*.cer
*.pem
*.key
*.o
Release/RANK/
Release/resources/SMJPIC
Release/LOG/
Release/resources/SMJPICSMALL/
Release/resources/SMJIMG/
Release/TOME/
Release/nginx/logs/
Debug/
Release/Private.ini
Release/resources/LOTTOPIC/
Release/Lotto/
