
*.pmv
.vs/
*.log
*.png
SLR_ReplayDB.VC.db
SLR_ReplayDB.VC.VC.opendb
SLR_ReplayDB/Release/
SLR_ReplayParser/Release/
SLR_ReplayParserWeb/Release/
Release/SLR_ReplayDB.iobj
Release/SLR_ReplayDB.ipdb
Release/SLR_ReplayDB.pdb
Release/SLR_ReplayParser.iobj
Release/SLR_ReplayParser.ipdb
Release/SLR_ReplayParser.pdb
Release/SLR_ReplayParserWeb.iobj
Release/SLR_ReplayParserWeb.ipdb
Release/SLR_ReplayParserWeb.pdb
