
* {
  margin: 0;
}
html, body {
  height: 100%;
  background-color: #141414 !important;

}

.green-box{
background-color: #00DD00 !important;
}

.yellow-box{
background-color: #FFFFBB !important;
}

.button1{
background-color: #DDDDDD !important;
color: #222222
}

.button0{
background-color: #222222 !important;
color: #DDDDDD
}

.PlusUndMinus{
width: 50px !important;
}

.gruen-box{
background-color: #00DD00 !important;
}

.grau-box{
background-color: #BBBBBB !important;
color: #222222 !important;
}

.weiss-box{
background-color: #FFFFFF !important;
} 

.ColorButton0{
position: absolute;
    left: 525px;
} 

.ColorButton1{
position: absolute;
    left: 485px;
} 

.ColorButton2{
position: absolute;
    left: 445px;
} 

.ColorButton3{
position: absolute;
    left: 405px;
} 

.ColorButton4{
position: absolute;
    left: 365px;
} 

.ColorButton5{
position: absolute;
    left: 325px;
} 

.crop {
        width: 400px !important;
        height: 400px !important;
        overflow: hidden;
    }

.crop img {
        width: 600px;
        height: 600px;
        margin: -100px -100px -100px -100px;
    }    
	
.green{
background-color: #99DD99 !important;
color: #111111 !important;
}
.greenFull{
background-color: #99DD99 !important;
color: #99DD99 !important;
}
.organe {
    background-color: #FFA500 !important;
    color: #111111 !important;
}

.black{
background-color: #000000 !important;
color: #111111 !important;
}

.red{
background-color: #DD9999 !important;
color: #111111 !important;
}

.yChart{
background-color: #666666 !important;
color: #111111 !important;
}

.yReforge {
    border: 1px solid #99DD99 !important;
}


.Wt-itemview{
background-color: #000000 !important;
color: #555555 !important;
}