.opacity0{ opacity: 0.00;}
.opacity1{ opacity: 0.01;}
.opacity2{ opacity: 0.02;}
.opacity3{ opacity: 0.03;}
.opacity4{ opacity: 0.04;}
.opacity5{ opacity: 0.05;}
.opacity6{ opacity: 0.06;}
.opacity7{ opacity: 0.07;}
.opacity8{ opacity: 0.08;}
.opacity9{ opacity: 0.09;}
.opacity10{ opacity: 0.10;}
.opacity11{ opacity: 0.11;}
.opacity12{ opacity: 0.12;}
.opacity13{ opacity: 0.13;}
.opacity14{ opacity: 0.14;}
.opacity15{ opacity: 0.15;}
.opacity16{ opacity: 0.16;}
.opacity17{ opacity: 0.17;}
.opacity18{ opacity: 0.18;}
.opacity19{ opacity: 0.19;}
.opacity20{ opacity: 0.20;}
.opacity21{ opacity: 0.21;}
.opacity22{ opacity: 0.22;}
.opacity23{ opacity: 0.23;}
.opacity24{ opacity: 0.24;}
.opacity25{ opacity: 0.25;}
.opacity26{ opacity: 0.26;}
.opacity27{ opacity: 0.27;}
.opacity28{ opacity: 0.28;}
.opacity29{ opacity: 0.29;}
.opacity30{ opacity: 0.30;}
.opacity31{ opacity: 0.31;}
.opacity32{ opacity: 0.32;}
.opacity33{ opacity: 0.33;}
.opacity34{ opacity: 0.34;}
.opacity35{ opacity: 0.35;}
.opacity36{ opacity: 0.36;}
.opacity37{ opacity: 0.37;}
.opacity38{ opacity: 0.38;}
.opacity39{ opacity: 0.39;}
.opacity40{ opacity: 0.40;}
.opacity41{ opacity: 0.41;}
.opacity42{ opacity: 0.42;}
.opacity43{ opacity: 0.43;}
.opacity44{ opacity: 0.44;}
.opacity45{ opacity: 0.45;}
.opacity46{ opacity: 0.46;}
.opacity47{ opacity: 0.47;}
.opacity48{ opacity: 0.48;}
.opacity49{ opacity: 0.49;}
.opacity50{ opacity: 0.50;}
.opacity51{ opacity: 0.51;}
.opacity52{ opacity: 0.52;}
.opacity53{ opacity: 0.53;}
.opacity54{ opacity: 0.54;}
.opacity55{ opacity: 0.55;}
.opacity56{ opacity: 0.56;}
.opacity57{ opacity: 0.57;}
.opacity58{ opacity: 0.58;}
.opacity59{ opacity: 0.59;}
.opacity60{ opacity: 0.60;}
.opacity61{ opacity: 0.61;}
.opacity62{ opacity: 0.62;}
.opacity63{ opacity: 0.63;}
.opacity64{ opacity: 0.64;}
.opacity65{ opacity: 0.65;}
.opacity66{ opacity: 0.66;}
.opacity67{ opacity: 0.67;}
.opacity68{ opacity: 0.68;}
.opacity69{ opacity: 0.69;}
.opacity70{ opacity: 0.70;}
.opacity71{ opacity: 0.71;}
.opacity72{ opacity: 0.72;}
.opacity73{ opacity: 0.73;}
.opacity74{ opacity: 0.74;}
.opacity75{ opacity: 0.75;}
.opacity76{ opacity: 0.76;}
.opacity77{ opacity: 0.77;}
.opacity78{ opacity: 0.78;}
.opacity79{ opacity: 0.79;}
.opacity80{ opacity: 0.80;}
.opacity81{ opacity: 0.81;}
.opacity82{ opacity: 0.82;}
.opacity83{ opacity: 0.83;}
.opacity84{ opacity: 0.84;}
.opacity85{ opacity: 0.85;}
.opacity86{ opacity: 0.86;}
.opacity87{ opacity: 0.87;}
.opacity88{ opacity: 0.88;}
.opacity89{ opacity: 0.89;}
.opacity90{ opacity: 0.90;}
.opacity91{ opacity: 0.91;}
.opacity92{ opacity: 0.92;}
.opacity93{ opacity: 0.93;}
.opacity94{ opacity: 0.94;}
.opacity95{ opacity: 0.95;}
.opacity96{ opacity: 0.96;}
.opacity97{ opacity: 0.97;}
.opacity98{ opacity: 0.98;}
.opacity99{ opacity: 0.99;}
.opacity100{ opacity: 1.00;}
